.form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-top: 15px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  margin-right: 10px;
}
