.Dashboard_Icon {
    font-size: 2vw;
    text-align: center; 
}

.transparent-button {
    margin: 2vw;
    padding: 4vw;
    width: 20vw;
    height: 40vh;
    border-radius: 50px;
    background-color: #BDE3FF;
    border: none;
}