.home-header {
    display: flex;
    justify-content: space-around;
}

.header-left {
    margin: 5vh;
}

.header-text {
    font-size: 5vw;
    font-weight: 500;
}

.header-subtext {
    font-size: 3vw;
}

.header-right {
    display: flex;
    flex-direction: row;
    margin: 5vh;
    padding: 4vw;
    font-size: 2vw;
}

.fire {
    margin-right: 1vw;
}