.mood-button {
    margin: 2vw;
    width: 14vw;
    height: 14vw;
    text-align: center;
    border-radius: 50%;
    background-color: #8BEDE7;
    border: none;
    font-size: 1.8vw;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.selected {
    border: 3px solid navy;
}