/* .consult-welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 93.5vh;
} */

p {
    font-size: 20px;
    color: #335760;
}

.buttons-container {
    margin-top: 20px;
}

/* .support-system {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 200px;
} */

.video-conferencing {
    border-radius: 1px;
    border: 1px solid #ccc;
}

.background-env {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 8vh;
}

/* .centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} */

.title-name {
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8vh;
    color: #003358;
}

.center-content {
    display: flex;
    flex-wrap: wrap;
    padding: 3vh;
    border-radius: 10px;
    margin-bottom: 3vh;
    background-color: #E7EFFF;
    justify-content: space-between;
}

.schedule-detail {
    margin-right: 4vw;
}

.schedule-therapist {
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
}

.schedule-consult-btn {
    background-color: #55B6B0;
    border-radius: 50px;
    border-color: transparent;
    padding: 0.5vw;
    color: white;
    width: 10vw;
}