.consult-welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 93.5vh;
}

p {
    font-size: 20px;
    color: #335760;
}

.buttons-container {
    margin-top: 20px;
}

button {
    margin: 10px;
}

.support-system {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 200px;
}

.video-conferencing {
    border-radius: 1px;
    border: 1px solid #ccc;
}

.background-env {
    height: 93.5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title-name {
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8vh;
}

.center-content {
    display: flex;
    flex-wrap: wrap;
    padding: 3vh;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #E7EFFF;
    justify-content: space-between;
}
