.Mood {
    margin-bottom: 8vh;
    text-align: center;
}

.mood-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}